.ProjectContainer{
    height: 100%;
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.NavbarContainer{
    height: 10%;
    min-height: 50px;
    max-height: 60px;
}

.TopBarLine{
    margin: 0;
    padding: 0;
}

.MainContainer{
    height: 80%;
    display: flex;
    margin: 0;
    padding: 0;
    flex-grow:1; 
}

.ContentContainer{
    flex-grow:1; 
}

.FooterContainer{
    height: 8%;
    padding: 10px;
    opacity: 0.6;
}